
.UI-UX-Design-1-hex { color: #592EF2; }
.UI-UX-Design-2-hex { color: #141926; }
.UI-UX-Design-3-hex { color: #BFCAD9; }
.UI-UX-Design-4-hex { color: #29F280; }
.UI-UX-Design-5-hex { color: #24733F; }

.-Mobile-Concept-1-hex { color: #BF265E; }
.-Mobile-Concept-2-hex { color: #0D65D9; }
.-Mobile-Concept-3-hex { color: #327AD9; }
.-Mobile-Concept-4-hex { color: #F2F2F2; }
.-Mobile-Concept-5-hex { color: #595959; }

.Iconography-1-hex { color: #081E26; }
.Iconography-2-hex { color: #B8D0D9; }
.Iconography-3-hex { color: #D9D9D9; }
.Iconography-4-hex { color: #737373; }
.Iconography-5-hex { color: #0D0D0D; }


.HYPERACTIVE-1-hex { color: #F2A2CE; }
.HYPERACTIVE-2-hex { color: #D9D9D9; }
.HYPERACTIVE-3-hex { color: #7C9AA6; }
.HYPERACTIVE-4-hex { color: #262626; }
.HYPERACTIVE-5-hex { color: #0D0D0D; }

.UX-UI-Design-1-hex { color: #D7D7D9; }
.UX-UI-Design-2-hex { color: #D9831A; }
.UX-UI-Design-3-hex { color: #BF4904; }
.UX-UI-Design-4-hex { color: #F25050; }
.UX-UI-Design-5-hex { color: #0D0D0D; }

.Retro-Interfaces-1-hex { color: #CDD9BA; }
.Retro-Interfaces-2-hex { color: #F24444; }
.Retro-Interfaces-3-hex { color: #591919; }
.Retro-Interfaces-4-hex { color: #F28080; }
.Retro-Interfaces-5-hex { color: #F2DCDC; }

.Urban-1-hex { color: #F2ECE4; }
.Urban-2-hex { color: #BFB0A3; }
.Urban-3-hex { color: #D9D0C7; }
.Urban-4-hex { color: #402A1D; }
.Urban-5-hex { color: #0D0D0D; }

.Design-1-hex { color: #F2884B; }
.Design-2-hex { color: #F27244; }
.Design-3-hex { color: #8C5845; }
.Design-4-hex { color: #F2DDD5; }
.Design-5-hex { color: #261F1F; }
