/* |[ESTRUCTURA DEL SITIO]| */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: #F2ece4;
}

header {
    height: 100px;
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: #0D0D0D;
}

header a {
    font-family: 'Jost Medium';
    padding: 29.5px 20px;
}

nav {
    display: flex;
    margin-left: 0px;
    gap: 0px;
    font-size: 32px;
}

nav a {
    border-radius: 0;
    color: #BFB0A3;
}


main {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

footer {
    background-color: #2b3041;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 375px;
}

/* |[CLASES]| */

/* ->> Clase img para imágenes de los productos */
.img {
    background-color: transparent;
    box-shadow: -8px 8px 0px #592EF250;
    border-radius: 25px;
}

.img:hover {
    background-color: #592EF215;
    box-shadow: -8px 8px 0px #592EF2;
}

.img-off {
    background-color: transparent;
    box-shadow: -8px 8px 0px #F2BE5C60;
    border-radius: 25px;
}

.img-off:hover {
    background-color: #F2BE5C60;
    box-shadow: -8px 8px 0px #F2BE5CFF;
}

/* |[NAVEGACIÓN DENTRO DEL SITIO]| */

/* ->> Barra de búsqueda */
.search-box {
    display: flex;
    justify-content: center;
}

.search-box input {
    width: 525px;
    height: 40px;
    margin-right: 20px;
    color: #ffffff;
    border-radius: 15px;
    background-color: transparent;
    border-top-color: #9cb0eb25;
    border-left-color: #9cb0eb25;
    border-bottom-color: transparent;
    border-right-color: transparent;
    box-shadow: 3px 4px 0px #9cb0eb25;
    outline: #000000;
}

.search-box input:focus-within {
    width: 525px;
    height: 40px;
    margin-right: 20px;
    color: #ffffff;
    border-radius: 15px;
    background-color: #9cb0eb05;
    border-top-color: #9cb0eb75;
    border-left-color: #9cb0eb75;
    border-right-color: transparent;
    border-bottom-color: transparent;
    box-shadow: 3px 4px 0px #9cb0eb;
    outline: #000000;
}

.search-box input:hover {
    width: 525px;
    height: 40px;
    margin-right: 20px;
    color: #ffffff;
    border-radius: 15px;
    background-color: #9cb0eb05;
    border-top-color: #9cb0eb75;
    border-left-color: #9cb0eb75;
    border-right-color: transparent;
    border-bottom-color: transparent;
    box-shadow: 3px 4px 0px #9cb0eb;
    outline: #000000;
}

/*  ->> Botón Inicio */
.btn-inicio {
    display: inline-block;
    padding: 29.5px 20px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
}

.btn-inicio:hover {
    background-color: transparent;
    text-decoration: none;
    color: #007bff;
    text-shadow: -1px 1px 1px rgba(255, 255, 255, 1);
}

/* ->> Botón Catálogo */
.btn-cat {
    display: inline-block;
    padding: 29.5px 20px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
}

.btn-cat:hover {
    background-color: transparent;
    text-decoration: none;
    color: #007bff;
    text-shadow: -1px 1px 1px rgba(255, 255, 255, 1);
}

/* ->> Botón Ofertas */
.btn-offer {
    display: inline-block;
    padding: 29.5px 20px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
}

.btn-offer:hover {
    background-color: transparent;
    text-decoration: none;
    color: #007bff;
    text-shadow: -1px 1px 1px rgba(255, 255, 255, 1);
}

/* ->> Botón Contacto */
.btn-contact {
    display: inline-block;
    padding: 29.5px 20px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
}

.btn-contact:hover {
    background-color: transparent;
    text-decoration: none;
    color: #007bff;
    text-shadow: -1px 1px 1px rgba(255, 255, 255, 1);
}

/* |[CONTENIDO DE LA PÁGINA]| */

/* ->> Título */
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 0px #ffffff;
}

.titulo h1 {
    color: #f25050;
    font-family: 'Jost Regular';
    font-size: 48px;
    margin-bottom: 0px;
    text-shadow: 1px 3px 0px #000000;
}

.titulo p {
    font-family: 'Jost Light';
    font-size: 14px;
}

/* ->> Inicio de sesión */
.iniciar-sesion {
    background-color: #BFB0A3;
    margin-left: 40%;
    margin-top: 25px;
    width: 325px;
    height: 325px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: 12px 10px 0px #402A1D;
}

.iniciar-sesion h1 {
    margin-top: 0px;
    font-family: 'Fira Sans';
    font-size: 20px;
    color: #261f1f;
}

.signIn {
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Fira Sans';
    font-size: 20px;
}

.signMail {
    margin-top: 0px;
    margin-bottom: 20px;
}

/* ->> Campo e-mail */
.signMail input {
    width: 225px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Jost Light';
    font-size: 14px;
    border-radius: 5px;
    background-color: transparent;
    border-top-color: #BFB0A325;
    border-left-color: #BFB0A325;
    border-right-color: transparent;
    border-bottom-color: transparent;
    outline: #000000;
    box-shadow: 3px 4px 0px #14192650;
}


.signMail input:focus-within {
    font-family:'Jost';
    color: #261F1F;
    background-color: #F2884B25;
    border-top-color: #BFB0A3;
    border-left-color: #BFB0A3;
    border-bottom-color: transparent;
    border-right-color: transparent;
    box-shadow: 3px 4px 0px #8C5845;
}

.signMail input:hover {
    color: #261F1F;
    background-color: #F2884B25;
    border-top-color: #BFB0A3;
    border-left-color: #BFB0A3;
    border-bottom-color: transparent;
    border-right-color: transparent;
    box-shadow: 3px 4px 0px #8C5845;
}

/* ->> Campo contraseña */
.pass {
    margin-top: 10px;
    margin-bottom: 20px;
}

.pass input {
    width: 225px;
    height: 25px;
    margin-bottom: 0px;
    font-family: 'Jost Light';
    font-size: 14px;
    border-radius: 5px;
    background-color: transparent;
    border-top-color: #BFB0A325;
    border-left-color: #BFB0A325;
    border-right-color: transparent;
    border-bottom-color: transparent;
    outline: #000000;
    box-shadow: 3px 4px 0px #14192650;
}

.pass input:focus-within {
    font-family:'Jost';
    color: #261F1F;
    background-color: #F2884B25;
    border-top-color: #BFB0A3;
    border-left-color: #BFB0A3;
    border-bottom-color: transparent;
    border-right-color: transparent;
    box-shadow: 3px 4px 0px #8C5845;
}

.pass input:hover {
    color: #261F1F;
    background-color: #F2884B25;
    border-top-color: #BFB0A3;
    border-left-color: #BFB0A3;
    border-bottom-color: transparent;
    border-right-color: transparent;
    box-shadow: 3px 4px 0px #8C5845;
}

/* ->> Crear una cuenta */
.cuenta h2{
    font-family: 'Jost Light';
    font-size:14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #8C5845;
}

.cuenta a{
    display: flex;
    justify-content:center;
    font-family:'Jost Medium';
    text-decoration: none;
    color:#0D65D9;
    font-size: 10px;
}

.cuenta a:hover{
    color:#007bff;
}

.btn-in{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom:10px;
}

.btn-in button{
    color:#26262675;
    background-color: transparent;
    border-top-color: #ffffff50;
    border-left-color:#ffffff50;
    border-bottom-color: transparent;
    border-right-color:transparent;
    border-radius:5px;
    width: 225px;
    height:25px;
    box-shadow: 3px 4px 0px #8C584550;
}

.btn-in button:hover{
    color:#262626;
    background-color: #F2884B25;
    border-top-color: #ffffff;
    border-left-color:#ffffff;
    border-bottom-color: transparent;
    border-right-color:transparent;
    border-radius:5px;
    width: 225px;
    height:25px;
    box-shadow: 3px 4px 0px #8C5845;
}

/* |[CATÁLOGO DE PRODUCTOS]| */

.cat-title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 0px #4227ff10;
}

.cat-title h1 {
    margin-top: 75px;
    margin-bottom: 75px;
    font-family: 'Oswald Light';
    font-size: 75px;
    text-decoration: none;
    color: #9095f0;
    text-shadow: -3px 4px 0px #000000;
}

/* |[CATEGORÍA TECLADOS]| */

/* ->> Título de la categoría */
.kb-title {
    font-family: 'Jost Regular';
    color: #F25050;
    font-size: 24px;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 3px 0px #0D0D0D;
}

/* ->> Ícono ilustrativo */
.kb-icon {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

/* ->> Teclado 1 */

/* -> Modelo */
.kb-name-one{
    display: flex;
    justify-content: left;
    align-items:center;
    margin-left:140px;
}
.kb-name-one h1{
    font-family:'Inter Tight Regular';
    color:#0460D9;
    text-shadow:2px 1px 0px #033473;
}

/* -> Precio */
.kb-price-one{
    display: flex;
    justify-content: left;
    align-items:center;
}

.kb-price-one h2{
    margin-left:485px;
    margin-top:0px;
    margin-bottom:0px;
}

.kb-price-one h1{
    font-family: 'Inter Tight Regular';
    font-size: 18px;
    margin-left:515px;
    margin-top:-35px;
    margin-bottom:-20px;
    color:#592EF2;
    text-shadow: 1px 1px 0px #141926;
}

/* -> Imagen */
.kb-img-one{
    display: flex;
    justify-content: left;
    align-items:center;
    margin-left:75px;
}

/* -> Características */
.kb-ftrs-one{
    display: flex;
    justify-content: left;
    margin-left: 0px;
    margin-bottom: 5px;
}
.kb-ftrs-one ul{
    margin-top:-375px;
    margin-left:475px;
    margin-bottom:0px;
    list-style:none;
    font-family:'Jost Light';
    font-size:18px;

}
.kb-ftrs-one li{
    margin-top:-5px;
    margin-bottom:-50px;
    color:#141926;
}
.kb-ftrs-one p{
    text-decoration:none;
    font-family:'Jost Light';
    margin-top:5px;
    margin-left:40px;
}

.kb-btn-one{
    display:flex;
    justify-content: left;
    align-items: start;
    align-content:center;
    flex-direction: column;
    margin-top: -175px;
}
.kb-btn-one button{
    font-family:'Jost Light';
    font-size:14px;
    width:225px;
    height:30px;
    text-align: center;
    margin-left:490px;
    margin-bottom:15px;
    background-color: transparent;
    border-top-color:#592EF225;
    border-left-color:#592EF225;
    border-bottom-color:transparent;
    border-right-color: transparent;
    border-radius:5px;
    box-shadow: 4px 4px 0px #592EF250;
}
.kb-btn-one button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    text-align: center;
    background-color: #592EF215;
    border-top-color: #592EF250;
    border-left-color: #592EF250;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF2;
}

.kb-btn-one img{
    margin-top:-10px;
    margin-left:-175px;
    margin-bottom:25px;
}
.kb-btn-one p{
    margin-left:20px;
    margin-top:-55px;
    margin-bottom: -10px;
}
/* ->> Teclado 2 */

/* -> Modelo */
.kb-name-two {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 950px;
    margin-top:-452px;
}

.kb-name-two h1 {
    font-family: 'Inter Tight Regular';
    color: #0460D9;
    text-shadow: 2px 1px 0px #033473;
}

/* -> Precio */
.kb-price-two {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left:750px;
}

.kb-price-two ul{
    list-style:none;
}

.kb-price-two h2 {
    margin-left: 560px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.kb-price-two h1 {
    font-family: 'Inter Tight Regular';
    font-size: 18px;
    margin-left: 590px;
    margin-top: -35px;
    margin-bottom: -20px;
    color: #592EF2;
    text-shadow: 1px 1px 0px #141926;
}

/* -> Imagen */
.kb-img-two {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 900px;
}

/* -> Características */
.kb-ftrs-two {
    display: flex;
    justify-content: left;
    margin-left: 825px;
    margin-bottom: 5px;
}

.kb-ftrs-two ul {
    margin-top: -375px;
    margin-left: 475px;
    margin-bottom: 0px;
    list-style: none;
    font-family: 'Jost Light';
    font-size: 18px;

}

.kb-ftrs-two li {
    margin-top: -5px;
    margin-bottom: -50px;
    color: #141926;
}

.kb-ftrs-two p {
    text-decoration: none;
    font-family: 'Jost Light';
    margin-top: 5px;
    margin-left: 40px;
}

.kb-btn-two {
    display: flex;
    justify-content: center;
    align-items: left;
    align-content: center;
    flex-direction: column;
    margin-top: -175px;
}

.kb-btn-two button {
    font-family: 'Jost Light';
    font-size: 14px;
    width: 225px;
    height: 30px;
    text-align: center;
    margin-left: 1315px;
    margin-bottom: 15px;
    background-color: transparent;
    border-top-color: #592EF225;
    border-left-color: #592EF225;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF250;
}

.kb-btn-two button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    text-align: center;
    background-color: #592EF215;
    border-top-color: #592EF250;
    border-left-color: #592EF250;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF2;
}

.kb-btn-two img {
    margin-top: -10px;
    margin-left: -175px;
    margin-bottom: 25px;
}

.kb-btn-two p {
    margin-left: 20px;
    margin-top: -55px;
    margin-bottom: -10px;
}

/* ->> Teclado 3 */

/* -> Modelo */
.kb-name-three {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top:50px;
    margin-left: 140px;
}

.kb-name-three h1 {
    font-family: 'Inter Tight Regular';
    color: #0460D9;
    text-shadow: 2px 1px 0px #033473;
}

/* -> Precio */
.kb-price-three {
    display: flex;
    justify-content: left;
    align-items: center;
}

.kb-price-three h2 {
    margin-left: 485px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.kb-price-three h1 {
    font-family: 'Inter Tight Regular';
    font-size: 18px;
    margin-left: 515px;
    margin-top: -35px;
    margin-bottom: -20px;
    color: #592EF2;
    text-shadow: 1px 1px 0px #141926;
}

/* -> Imagen */
.kb-img-three {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 75px;
    margin-bottom:25px;
}

/* -> Características */
.kb-ftrs-three {
    display: flex;
    justify-content: left;
    margin-left: 0px;
    margin-bottom: 5px;
}

.kb-ftrs-three ul {
    margin-top: -400px;
    margin-left: 475px;
    margin-bottom: 0px;
    list-style: none;
    font-family: 'Jost Light';
    font-size: 18px;

}

.kb-ftrs-three li {
    margin-top: -5px;
    margin-bottom: -50px;
    color: #141926;
}

.kb-ftrs-three p {
    text-decoration: none;
    font-family: 'Jost Light';
    margin-top: 5px;
    margin-left: 40px;
}

.kb-btn-three {
    display: flex;
    justify-content: left;
    align-items: start;
    align-content: center;
    flex-direction: column;
    margin-top: -200px;
}

.kb-btn-three button {
    font-family: 'Jost Light';
    font-size: 14px;
    width: 225px;
    height: 30px;
    text-align: center;
    margin-left: 490px;
    margin-bottom: 15px;
    background-color: transparent;
    border-top-color: #592EF225;
    border-left-color: #592EF225;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF250;
}

.kb-btn-three button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    text-align: center;
    background-color: #592EF215;
    border-top-color: #592EF250;
    border-left-color: #592EF250;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF2;
}

.kb-btn-three img {
    margin-top: -10px;
    margin-left: -175px;
    margin-bottom: 25px;
}

.kb-btn-three p {
    margin-left: 20px;
    margin-top: -55px;
    margin-bottom: -10px;
}

/* ->> Teclado 4 */

/* -> Modelo */
.kb-name-four {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 950px;
    margin-top: -452px;
}

.kb-name-four h1 {
    font-family: 'Inter Tight Regular';
    color: #0460D9;
    text-shadow: 2px 1px 0px #033473;
}

/* -> Precio */
.kb-price-four {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 750px;
}

.kb-price-four ul {
    list-style: none;
}

.kb-price-four h2 {
    margin-left: 560px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.kb-price-four h1 {
    font-family: 'Inter Tight Regular';
    font-size: 18px;
    margin-left: 590px;
    margin-top: -35px;
    margin-bottom: -20px;
    color: #592EF2;
    text-shadow: 1px 1px 0px #141926;
}

/* -> Imagen */
.kb-img-four {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 900px;
}

/* -> Características */
.kb-ftrs-four {
    display: flex;
    justify-content: left;
    margin-left: 825px;
    margin-bottom: 5px;
}

.kb-ftrs-four ul {
    margin-top: -400px;
    margin-left: 475px;
    margin-bottom: 0px;
    list-style: none;
    font-family: 'Jost Light';
    font-size: 18px;

}

.kb-ftrs-four li {
    margin-top: -5px;
    margin-bottom: -50px;
    color: #141926;
}

.kb-ftrs-four p {
    text-decoration: none;
    font-family: 'Jost Light';
    margin-top: 5px;
    margin-left: 40px;
}

.kb-btn-four {
    display: flex;
    justify-content: center;
    align-items: left;
    align-content: center;
    flex-direction: column;
    margin-top: -200px;
}

.kb-btn-four button {
    font-family: 'Jost Light';
    font-size: 14px;
    width: 225px;
    height: 30px;
    text-align: center;
    margin-left: 1315px;
    margin-bottom: 15px;
    background-color: transparent;
    border-top-color: #592EF225;
    border-left-color: #592EF225;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF250;
}

.kb-btn-four button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    text-align: center;
    background-color: #592EF215;
    border-top-color: #592EF250;
    border-left-color: #592EF250;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF2;
}

.kb-btn-four button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    background-color: #592EF215;
    border-top-color: #592EF250;
    border-left-color: #592EF250;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF2;
}

.kb-btn-four img {
    margin-top: -10px;
    margin-left: -175px;
    margin-bottom: 25px;
}

.kb-btn-four p {
    margin-left: 20px;
    margin-top: -55px;
    margin-bottom: -10px;
}

/* |[Categoría Mouses]| */
.ms-title {
    font-family: 'Jost Regular';
    color: #F25050;
    font-size: 24px;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 3px 0px #0D0D0D;
    box-shadow: 0px -4px 1px #f2505025;
}

/* ->> Ícono ilustrativo */
.ms-icon {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.ms-name-one {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 100px;
}

.ms-name-one h1 {
    font-family: 'Inter Tight Regular';
    color: #0460D9;
    text-shadow: 2px 1px 0px #033473;
}

/* -> Precio */
.ms-price-one {
    display: flex;
    justify-content: left;
    align-items: center;
}

.ms-price-one h2 {
    margin-left: 485px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ms-price-one h1 {
    font-family: 'Inter Tight Regular';
    font-size: 18px;
    margin-left: 515px;
    margin-top: -35px;
    margin-bottom: -20px;
    color: #592EF2;
    text-shadow: 1px 1px 0px #141926;
}

/* -> Imagen */
.ms-img-one {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 75px;
}

/* -> Características */
.ms-ftrs-one {
    display: flex;
    justify-content: left;
    margin-left: 0px;
    margin-bottom: 5px;
}

.ms-ftrs-one ul {
    margin-top: -400px;
    margin-left: 475px;
    margin-bottom: 0px;
    list-style: none;
    font-family: 'Jost Light';
    font-size: 18px;

}

.ms-ftrs-one li {
    margin-top: -5px;
    margin-bottom: -50px;
    color: #141926;
}

.ms-ftrs-one p {
    text-decoration: none;
    font-family: 'Jost Light';
    margin-top: 5px;
    margin-left: 40px;
}

.ms-btn-one {
    display: flex;
    justify-content: left;
    align-items: start;
    align-content: center;
    flex-direction: column;
    margin-top: -200px;
}

.ms-btn-one button {
    font-family: 'Jost Light';
    font-size: 14px;
    width: 225px;
    height: 30px;
    text-align: center;
    margin-left: 490px;
    margin-bottom: 15px;
    background-color: transparent;
    border-top-color: #592EF225;
    border-left-color: #592EF225;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF250;
}

.ms-btn-one button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    text-align: center;
    background-color: #592EF215;
    border-top-color: #592EF250;
    border-left-color: #592EF250;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF2;
}

.ms-btn-one img {
    margin-top: -10px;
    margin-left: -175px;
    margin-bottom: 25px;
}

.ms-btn-one p {
    margin-left: 20px;
    margin-top: -55px;
    margin-bottom: -10px;
}

/* ->> Teclado 2 */

/* -> Modelo */
.ms-name-two {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 905px;
    margin-top:-452px;
}

.ms-name-two h1 {
    font-family: 'Inter Tight Regular';
    color: #0460D9;
    text-shadow: 2px 1px 0px #033473;
}

/* -> Precio */
.ms-price-two {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left:750px;
}

.ms-price-two ul{
    list-style:none;
}

.ms-price-two h2 {
    margin-left: 560px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ms-price-two h1 {
    font-family: 'Inter Tight Regular';
    font-size: 18px;
    margin-left: 590px;
    margin-top: -35px;
    margin-bottom: -20px;
    color: #592EF2;
    text-shadow: 1px 1px 0px #141926;
}

/* -> Imagen */
.ms-img-two {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 900px;
}

/* -> Características */
.ms-ftrs-two {
    display: flex;
    justify-content: left;
    margin-left: 825px;
    margin-bottom: 5px;
}

.ms-ftrs-two ul {
    margin-top: -400px;
    margin-left: 475px;
    margin-bottom: 0px;
    list-style: none;
    font-family: 'Jost Light';
    font-size: 18px;

}

.ms-ftrs-two li {
    margin-top: -5px;
    margin-bottom: -50px;
    color: #141926;
}

.ms-ftrs-two p {
    text-decoration: none;
    font-family: 'Jost Light';
    margin-top: 5px;
    margin-left: 40px;
}

.ms-btn-two {
    display: flex;
    justify-content: center;
    align-items: left;
    align-content: center;
    flex-direction: column;
    margin-top: -200px;
}

.ms-btn-two button {
    font-family: 'Jost Light';
    font-size: 14px;
    width: 225px;
    height: 30px;
    text-align: center;
    margin-left: 1315px;
    margin-bottom: 15px;
    background-color: transparent;
    border-top-color: #592EF225;
    border-left-color: #592EF225;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF250;
}

.ms-btn-two button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    text-align: center;
    background-color: #592EF215;
    border-top-color: #592EF250;
    border-left-color: #592EF250;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF2;
}

.ms-btn-two img {
    margin-top: -10px;
    margin-left: -175px;
    margin-bottom: 25px;
}

.ms-btn-two p {
    margin-left: 20px;
    margin-top: -55px;
    margin-bottom: -10px;
}
/* ->> Teclado 3 */

/* -> Modelo */
.ms-name-three {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 50px;
    margin-left: 140px;
}

.ms-name-three h1 {
    font-family: 'Inter Tight Regular';
    color: #0460D9;
    text-shadow: 2px 1px 0px #033473;
}

/* -> Precio */
.ms-price-three {
    display: flex;
    justify-content: left;
    align-items: center;
}

.ms-price-three h2 {
    margin-left: 485px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ms-price-three h1 {
    font-family: 'Inter Tight Regular';
    font-size: 18px;
    margin-left: 515px;
    margin-top: -35px;
    margin-bottom: -20px;
    color: #592EF2;
    text-shadow: 1px 1px 0px #141926;
}

/* -> Imagen */
.ms-img-three {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 75px;
    margin-bottom: 25px;
}

/* -> Características */
.ms-ftrs-three {
    display: flex;
    justify-content: left;
    margin-left: 0px;
    margin-bottom: 5px;
}

.ms-ftrs-three ul {
    margin-top: -425px;
    margin-left: 475px;
    margin-bottom: 0px;
    list-style: none;
    font-family: 'Jost Light';
    font-size: 18px;

}

.ms-ftrs-three li {
    margin-top: -5px;
    margin-bottom: -50px;
    color: #141926;
}

.ms-ftrs-three p {
    text-decoration: none;
    font-family: 'Jost Light';
    margin-top: 5px;
    margin-left: 40px;
}

.ms-btn-three {
    display: flex;
    justify-content: left;
    align-items: start;
    align-content: center;
    flex-direction: column;
    margin-top: -225px;
}

.ms-btn-three button {
    font-family: 'Jost Light';
    font-size: 14px;
    width: 225px;
    height: 30px;
    text-align: center;
    margin-left: 490px;
    margin-bottom: 15px;
    background-color: transparent;
    border-top-color: #592EF225;
    border-left-color: #592EF225;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF250;
}

.ms-btn-three button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    text-align: center;
    background-color: #592EF215;
    border-top-color: #592EF250;
    border-left-color: #592EF250;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF2;
}

.ms-btn-three img {
    margin-top: -10px;
    margin-left: -175px;
    margin-bottom: 25px;
}

.ms-btn-three p {
    margin-left: 20px;
    margin-top: -55px;
    margin-bottom: -10px;
}

/* ->> Teclado 4 */

/* -> Modelo */
.ms-name-four {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 920px;
    margin-top: -452px;
}

.ms-name-four h1 {
    font-family: 'Inter Tight Regular';
    color: #0460D9;
    text-shadow: 2px 1px 0px #033473;
}

/* -> Precio */
.ms-price-four {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 750px;
}

.ms-price-four ul {
    list-style: none;
}

.ms-price-four h2 {
    margin-left: 560px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ms-price-four h1 {
    font-family: 'Inter Tight Regular';
    font-size: 18px;
    margin-left: 590px;
    margin-top: -35px;
    margin-bottom: -20px;
    color: #592EF2;
    text-shadow: 1px 1px 0px #141926;
}

/* -> Imagen */
.ms-img-four {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 900px;
}

/* -> Características */
.ms-ftrs-four {
    display: flex;
    justify-content: left;
    margin-left: 825px;
    margin-bottom: 5px;
}

.ms-ftrs-four ul {
    margin-top: -400px;
    margin-left: 475px;
    margin-bottom: 0px;
    list-style: none;
    font-family: 'Jost Light';
    font-size: 18px;

}

.ms-ftrs-four li {
    margin-top: -5px;
    margin-bottom: -50px;
    color: #141926;
}

.ms-ftrs-four p {
    text-decoration: none;
    font-family: 'Jost Light';
    margin-top: 5px;
    margin-left: 40px;
}

.ms-btn-four {
    display: flex;
    justify-content: center;
    align-items: left;
    align-content: center;
    flex-direction: column;
    margin-top: -200px;
}

.ms-btn-four button {
    font-family: 'Jost Light';
    font-size: 14px;
    width: 225px;
    height: 30px;
    text-align: center;
    margin-left: 1315px;
    margin-bottom: 15px;
    background-color: transparent;
    border-top-color: #592EF225;
    border-left-color: #592EF225;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF250;
}

.ms-btn-four button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    text-align: center;
    background-color: #592EF215;
    border-top-color: #592EF250;
    border-left-color: #592EF250;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF2;
}

.ms-btn-four button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    background-color: #592EF215;
    border-top-color: #592EF250;
    border-left-color: #592EF250;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF2;
}

.ms-btn-four img {
    margin-top: -10px;
    margin-left: -175px;
    margin-bottom: 25px;
}

.ms-btn-four p {
    margin-left: 20px;
    margin-top: -55px;
    margin-bottom: -10px;
}

/* |[Categoría Routers]| */
.rt-title {
    font-family: 'Jost Regular';
    color: #F25050;
    font-size: 24px;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 3px 0px #0D0D0D;
    box-shadow: 0px -4px 1px #f2505025;
}

/* ->> Ícono ilustrativo */
.rt-icon {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

/* ->> Teclado 1 */

/* -> Modelo */
.rt-name-one {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 140px;
}

.rt-name-one h1 {
    font-family: 'Inter Tight Regular';
    color: #0460D9;
    text-shadow: 2px 1px 0px #033473;
}

/* -> Precio */
.rt-price-one {
    display: flex;
    justify-content: left;
    align-items: center;
}

.rt-price-one h2 {
    margin-left: 485px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.rt-price-one h1 {
    font-family: 'Inter Tight Regular';
    font-size: 18px;
    margin-left: 515px;
    margin-top: -35px;
    margin-bottom: -20px;
    color: #592EF2;
    text-shadow: 1px 1px 0px #141926;
}

/* -> Imagen */
.rt-img-one {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 75px;
}

/* -> Características */
.rt-ftrs-one {
    display: flex;
    justify-content: left;
    margin-left: 0px;
    margin-bottom: 5px;
}

.rt-ftrs-one ul {
    margin-top: -375px;
    margin-left: 475px;
    margin-bottom: 0px;
    list-style: none;
    font-family: 'Jost Light';
    font-size: 18px;

}

.rt-ftrs-one li {
    margin-top: -5px;
    margin-bottom: -50px;
    color: #141926;
}

.rt-ftrs-one p {
    text-decoration: none;
    font-family: 'Jost Light';
    margin-top: 5px;
    margin-left: 40px;
}

.rt-btn-one {
    display: flex;
    justify-content: left;
    align-items: start;
    align-content: center;
    flex-direction: column;
    margin-top: -175px;
}

.rt-btn-one button {
    font-family: 'Jost Light';
    font-size: 14px;
    width: 225px;
    height: 30px;
    text-align: center;
    margin-left: 490px;
    margin-bottom: 15px;
    background-color: transparent;
    border-top-color: #592EF225;
    border-left-color: #592EF225;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF250;
}

.rt-btn-one button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    text-align: center;
    background-color: #592EF215;
    border-top-color: #592EF250;
    border-left-color: #592EF250;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF2;
}

.rt-btn-one img {
    margin-top: -10px;
    margin-left: -175px;
    margin-bottom: 25px;
}

.rt-btn-one p {
    margin-left: 20px;
    margin-top: -55px;
    margin-bottom: -10px;
}

.rt-name-two {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 950px;
    margin-top: -452px;
}

.rt-name-two h1 {
    font-family: 'Inter Tight Regular';
    color: #0460D9;
    text-shadow: 2px 1px 0px #033473;
}

/* -> Precio */
.rt-price-two {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 750px;
}

.rt-price-two ul {
    list-style: none;
}

.rt-price-two h2 {
    margin-left: 560px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.rt-price-two h1 {
    font-family: 'Inter Tight Regular';
    font-size: 18px;
    margin-left: 590px;
    margin-top: -35px;
    margin-bottom: -20px;
    color: #592EF2;
    text-shadow: 1px 1px 0px #141926;
}

/* -> Imagen */
.rt-img-two {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 900px;
}

/* -> Características */
.rt-ftrs-two {
    display: flex;
    justify-content: left;
    margin-left: 825px;
    margin-bottom: 5px;
}

.rt-ftrs-two ul {
    margin-top: -375px;
    margin-left: 475px;
    margin-bottom: 0px;
    list-style: none;
    font-family: 'Jost Light';
    font-size: 18px;

}

.rt-ftrs-two li {
    margin-top: -5px;
    margin-bottom: -50px;
    color: #141926;
}

.rt-ftrs-two p {
    text-decoration: none;
    font-family: 'Jost Light';
    margin-top: 5px;
    margin-left: 40px;
}

.rt-btn-two {
    display: flex;
    justify-content: center;
    align-items: left;
    align-content: center;
    flex-direction: column;
    margin-top: -175px;
}

.rt-btn-two button {
    font-family: 'Jost Light';
    font-size: 14px;
    width: 225px;
    height: 30px;
    text-align: center;
    margin-left: 1315px;
    margin-bottom: 15px;
    background-color: transparent;
    border-top-color: #592EF225;
    border-left-color: #592EF225;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF250;
}

.rt-btn-two button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    text-align: center;
    background-color: #592EF215;
    border-top-color: #592EF250;
    border-left-color: #592EF250;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF2;
}

.rt-btn-two img {
    margin-top: -10px;
    margin-left: -175px;
    margin-bottom: 25px;
}

.rt-btn-two p {
    margin-left: 20px;
    margin-top: -55px;
    margin-bottom: -10px;
}

/* ->> Teclado 3 */

/* -> Modelo */
.rt-name-three {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 50px;
    margin-left: 140px;
}

.rt-name-three h1 {
    font-family: 'Inter Tight Regular';
    color: #0460D9;
    text-shadow: 2px 1px 0px #033473;
}

/* -> Precio */
.rt-price-three {
    display: flex;
    justify-content: left;
    align-items: center;
}

.rt-price-three h2 {
    margin-left: 485px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.rt-price-three h1 {
    font-family: 'Inter Tight Regular';
    font-size: 18px;
    margin-left: 515px;
    margin-top: -35px;
    margin-bottom: -20px;
    color: #592EF2;
    text-shadow: 1px 1px 0px #141926;
}

/* -> Imagen */
.rt-img-three {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 75px;
    margin-bottom: 25px;
}

/* -> Características */
.rt-ftrs-three {
    display: flex;
    justify-content: left;
    margin-left: 0px;
    margin-bottom: 5px;
}

.rt-ftrs-three ul {
    margin-top: -400px;
    margin-left: 475px;
    margin-bottom: 0px;
    list-style: none;
    font-family: 'Jost Light';
    font-size: 18px;

}

.rt-ftrs-three li {
    margin-top: -5px;
    margin-bottom: -50px;
    color: #141926;
}

.rt-ftrs-three p {
    text-decoration: none;
    font-family: 'Jost Light';
    margin-top: 5px;
    margin-left: 40px;
}

.rt-btn-three {
    display: flex;
    justify-content: left;
    align-items: start;
    align-content: center;
    flex-direction: column;
    margin-top: -200px;
}

.rt-btn-three button {
    font-family: 'Jost Light';
    font-size: 14px;
    width: 225px;
    height: 30px;
    text-align: center;
    margin-left: 490px;
    margin-bottom: 15px;
    background-color: transparent;
    border-top-color: #592EF225;
    border-left-color: #592EF225;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF250;
}

.rt-btn-three button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    text-align: center;
    background-color: #592EF215;
    border-top-color: #592EF250;
    border-left-color: #592EF250;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #592EF2;
}

.rt-btn-three img {
    margin-top: -10px;
    margin-left: -175px;
    margin-bottom: 25px;
}

.rt-btn-three p {
    margin-left: 20px;
    margin-top: -55px;
    margin-bottom: -10px;
}

.off-title {
    font-family: 'Jost Regular';
    color: #F25050;
    font-size: 24px;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 3px 0px #0D0D0D;
    box-shadow: 0px -4px 1px #f2505025;
}

/* ->> Ícono ilustrativo */
.off-icon {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

/* ->> Teclado 1 */

/* -> Modelo */
.off-name-one {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 150px;
}

.off-name-one h1 {
    font-family: 'Inter Tight Regular';
    color: #F2B705;
    text-shadow: 2px 1px 0px #000000;
}

/* -> Precio */
.off-price-one {
    display: flex;
    justify-content: left;
    align-items: center;
}
.off-price-one h4{
    margin-left: 490px;
    margin-top: 0px;
    margin-bottom: -10px;    
}

.off-price-one h3{
    font-family: 'Inter Tight Regular';
    font-size: 16px;
    margin-left:505px;
    margin-top: -24px;
    margin-bottom: 22px;
    text-decoration: line-through;
    color: #F25050ff;
    text-shadow: 1px 0.5px 0px #141926;
}

.off-price-one h2 {
    margin-left: 600px;
    margin-top: -45px;
    margin-bottom: 0px;

}

.off-price-one h1 {
    font-family: 'Inter Tight Regular';
    font-size: 18px;
    margin-left: 625px;
    margin-top: -35px;
    margin-bottom: -20px;
    color: #F2B705;
    text-shadow: 1px 1.5px 0px #141926;
}

/* -> Imagen */
.off-img-one {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 75px;
}

/* -> Características */
.off-ftrs-one {
    display: flex;
    justify-content: left;
    margin-left: 0px;
    margin-bottom: 5px;
}

.off-ftrs-one ul {
    margin-top: -375px;
    margin-left: 475px;
    margin-bottom: 0px;
    list-style: none;
    font-family: 'Jost Light';
    font-size: 18px;

}

.off-ftrs-one li {
    margin-top: -5px;
    margin-bottom: -50px;
    color: #141926;
}

.off-ftrs-one p {
    text-decoration: none;
    font-family: 'Jost Light';
    margin-top: 5px;
    margin-left: 40px;
}

.off-btn-one {
    display: flex;
    justify-content: left;
    align-items: start;
    align-content: center;
    flex-direction: column;
    margin-top: -175px;
}

.off-btn-one button {
    font-family: 'Jost Light';
    font-size: 14px;
    width: 225px;
    height: 30px;
    text-align: center;
    margin-left: 490px;
    margin-bottom: 15px;
    background-color: transparent;
    border-top-color: #F2BE5C60;
    border-left-color: #F2BE5C60;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #F2BE5C85;
}

.off-btn-one button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    text-align: center;
    background-color: #F2BE5C25;
    border-top-color: #F2BE5C85;
    border-left-color: #F2BE5C85;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #F2BE5CFF;
}

.off-btn-one img {
    margin-top: -10px;
    margin-left: -175px;
    margin-bottom: 25px;
}

.off-btn-one p {
    margin-left: 20px;
    margin-top: -55px;
    margin-bottom: -10px;
}

/* ->> Teclado 1 */

/* -> Modelo */
.off-name-two {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 990px;
    margin-top:-449px;
}

.off-name-two h1 {
    font-family: 'Inter Tight Regular';
    color: #F2B705;
    text-shadow: 2px 1px 0px #000000;
}

/* -> Precio */
.off-price-two {
    display: flex;
    justify-content: left;
    align-items: center;
}

.off-price-two h4 {
    margin-left: 1340px;
    margin-top: 0px;
    margin-bottom: -10px;
}

.off-price-two h3 {
    font-family: 'Inter Tight Regular';
    font-size: 16px;
    margin-left: 1355px;
    margin-top: -24px;
    margin-bottom: 22px;
    text-decoration: line-through;
    color: #F25050ff;
    text-shadow: 1px 0.5px 0px #141926;
}

.off-price-two h2 {
    margin-left: 1435px;
    margin-top: -45px;
    margin-bottom: 0px;

}

.off-price-two h1 {
    font-family: 'Inter Tight Regular';
    font-size: 18px;
    margin-left: 1460px;
    margin-top: -35px;
    margin-bottom: -20px;
    color: #F2B705;
    text-shadow: 1px 1.5px 0px #141926;
}

/* -> Imagen */
.off-img-two {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 925px;
}

/* -> Características */
.off-ftrs-two {
    display: flex;
    justify-content: left;
    margin-left: 0px;
    margin-bottom: 5px;
}

.off-ftrs-two ul {
    margin-top: -375px;
    margin-left: 1325px;
    margin-bottom: 0px;
    list-style: none;
    font-family: 'Jost Light';
    font-size: 18px;

}

.off-ftrs-two li {
    margin-top: -5px;
    margin-bottom: -50px;
    color: #141926;
}

.off-ftrs-two p {
    text-decoration: none;
    font-family: 'Jost Light';
    margin-top: 5px;
    margin-left: 40px;
}

.off-btn-two {
    display: flex;
    justify-content: left;
    align-items: start;
    align-content: center;
    flex-direction: column;
    margin-top: -175px;
}

.off-btn-two button {
    font-family: 'Jost Light';
    font-size: 14px;
    width: 225px;
    height: 30px;
    text-align: center;
    margin-left: 1340px;
    margin-bottom: 15px;
    background-color: transparent;
    border-top-color: #F2BE5C60;
    border-left-color: #F2BE5C60;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #F2BE5C85;
}

.off-btn-two button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    text-align: center;
    background-color: #F2BE5C25;
    border-top-color: #F2BE5C85;
    border-left-color: #F2BE5C85;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #F2BE5CFF;
}

.off-btn-two img {
    margin-top: -10px;
    margin-left: -175px;
    margin-bottom: 25px;
}

.off-btn-two p {
    margin-left: 20px;
    margin-top: -55px;
    margin-bottom: -10px;
}

/* -> Modelo */
.off-name-three {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 110px;
}

.off-name-three h1 {
    font-family: 'Inter Tight Regular';
    color: #F2B705;
    text-shadow: 2px 1px 0px #000000;
}

/* -> Precio */
.off-price-three {
    display: flex;
    justify-content: left;
    align-items: center;
}

.off-price-three h4 {
    margin-left: 490px;
    margin-top: 0px;
    margin-bottom: -10px;
}

.off-price-three h3 {
    font-family: 'Inter Tight Regular';
    font-size: 16px;
    margin-left: 505px;
    margin-top: -24px;
    margin-bottom: 22px;
    text-decoration: line-through;
    color: #F25050ff;
    text-shadow: 1px 0.5px 0px #141926;
}

.off-price-three h2 {
    margin-left: 600px;
    margin-top: -45px;
    margin-bottom: 0px;

}

.off-price-three h1 {
    font-family: 'Inter Tight Regular';
    font-size: 18px;
    margin-left: 625px;
    margin-top: -35px;
    margin-bottom: -20px;
    color: #F2B705;
    text-shadow: 1px 1.5px 0px #141926;
}

/* -> Imagen */
.off-img-three {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 75px;
}

/* -> Características */
.off-ftrs-three {
    display: flex;
    justify-content: left;
    margin-left: 0px;
    margin-bottom: 5px;
}

.off-ftrs-three ul {
    margin-top: -375px;
    margin-left: 475px;
    margin-bottom: 0px;
    list-style: none;
    font-family: 'Jost Light';
    font-size: 18px;

}

.off-ftrs-three li {
    margin-top: -5px;
    margin-bottom: -50px;
    color: #141926;
}

.off-ftrs-three p {
    text-decoration: none;
    font-family: 'Jost Light';
    margin-top: 5px;
    margin-left: 40px;
}

.off-btn-three {
    display: flex;
    justify-content: left;
    align-items: start;
    align-content: center;
    flex-direction: column;
    margin-top: -175px;
}

.off-btn-three button {
    font-family: 'Jost Light';
    font-size: 14px;
    width: 225px;
    height: 30px;
    text-align: center;
    margin-left: 490px;
    margin-bottom: 15px;
    background-color: transparent;
    border-top-color: #F2BE5C60;
    border-left-color: #F2BE5C60;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #F2BE5C85;
}

.off-btn-three button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    text-align: center;
    background-color: #F2BE5C25;
    border-top-color: #F2BE5C85;
    border-left-color: #F2BE5C85;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #F2BE5CFF;
}

.off-btn-three img {
    margin-top: -10px;
    margin-left: -175px;
    margin-bottom: 25px;
}

.off-btn-three p {
    margin-left: 20px;
    margin-top: -55px;
    margin-bottom: -10px;
}

/* ->> Teclado 1 */

/* -> Modelo */
.off-name-four {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 1010px;
    margin-top: -449px;
}

.off-name-four h1 {
    font-family: 'Inter Tight Regular';
    color: #F2B705;
    text-shadow: 2px 1px 0px #000000;
}

/* -> Precio */
.off-price-four {
    display: flex;
    justify-content: left;
    align-items: center;
}

.off-price-four h4 {
    margin-left: 1340px;
    margin-top: 0px;
    margin-bottom: -10px;
}

.off-price-four h3 {
    font-family: 'Inter Tight Regular';
    font-size: 16px;
    margin-left: 1355px;
    margin-top: -24px;
    margin-bottom: 22px;
    text-decoration: line-through;
    color: #F25050ff;
    text-shadow: 1px 0.5px 0px #141926;
}

.off-price-four h2 {
    margin-left: 1435px;
    margin-top: -45px;
    margin-bottom: 0px;

}

.off-price-four h1 {
    font-family: 'Inter Tight Regular';
    font-size: 18px;
    margin-left: 1460px;
    margin-top: -35px;
    margin-bottom: -20px;
    color: #F2B705;
    text-shadow: 1px 1.5px 0px #141926;
}

/* -> Imagen */
.off-img-four {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 925px;
}

/* -> Características */
.off-ftrs-four {
    display: flex;
    justify-content: left;
    margin-left: 0px;
    margin-bottom: 5px;
}

.off-ftrs-four ul {
    margin-top: -375px;
    margin-left: 1325px;
    margin-bottom: 0px;
    list-style: none;
    font-family: 'Jost Light';
    font-size: 18px;

}

.off-ftrs-four li {
    margin-top: -5px;
    margin-bottom: -50px;
    color: #141926;
}

.off-ftrs-four p {
    text-decoration: none;
    font-family: 'Jost Light';
    margin-top: 5px;
    margin-left: 40px;
}

.off-btn-four {
    display: flex;
    justify-content: left;
    align-items: start;
    align-content: center;
    flex-direction: column;
    margin-top: -175px;
}

.off-btn-four button {
    font-family: 'Jost Light';
    font-size: 14px;
    width: 225px;
    height: 30px;
    text-align: center;
    margin-left: 1340px;
    margin-bottom: 15px;
    background-color: transparent;
    border-top-color: #F2BE5C60;
    border-left-color: #F2BE5C60;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #F2BE5C85;
}

.off-btn-four button:hover {
    font-family: 'Jost Regular';
    font-size: 15px;
    text-align: center;
    background-color: #F2BE5C25;
    border-top-color: #F2BE5C85;
    border-left-color: #F2BE5C85;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #F2BE5CFF;
}

.off-btn-four img {
    margin-top: -10px;
    margin-left: -175px;
    margin-bottom: 25px;
}

.off-btn-four p {
    margin-left: 20px;
    margin-top: -55px;
    margin-bottom: -10px;
}

.redes {
    display: flex;
    justify-content: left;
    margin-left: 0px;
    margin-bottom: 5px;
}

.redes ul {
    margin-top: -375px;
    margin-left: 1325px;
    margin-bottom: 0px;
    list-style: none;
    font-family: 'Jost Light';
    font-size: 18px;

}

.redes li {
    margin-top: -5px;
    margin-bottom: -50px;
    color: #141926;
}

redes p {
    text-decoration: none;
    font-family: 'Jost Light';
    margin-top: 5px;
    margin-left: 40px;
}